LIST

In [1]:
a=[2,20.5,"hello","40.25"]

In [10]:
type(a)

list

Tuple

In [3]:
b=(2,20.5,"hello","40.25")

In [4]:
type(b)

tuple

In [5]:
print(a)

[2, 20.5, 'hello', '40.25']

In [6]:
a[0]="start"

In [7]:
print(a)

['start', 20.5, 'hello', '40.25']

In [8]:
print(b)

(2, 20.5, 'hello', '40.25')

In [11]:
print(a)

['start', 20.5, 'hello', '40.25']

In [12]:
a.append("end - 1")

In [13]:
print(a)

['start', 20.5, 'hello', '40.25', 'end - 1']

In [14]:
a.append("end")

In [15]:
print(a)

['start', 20.5, 'hello', '40.25', 'end - 1', 'end']

In [16]:
a.pop()

'end'

In [17]:
print(a)

['start', 20.5, 'hello', '40.25', 'end - 1']

In [18]:
a.pop(2)

'hello'

In [19]:
name=["pantech","workshop","machineL","june","Bharat"]

queue = FIFO

In [20]:
name.pop(0)

'pantech'

Stack= LIFO

In [21]:
name.pop()

'Bharat'

In [22]:
1 == 2

False

In [23]:
32>30

True

In [24]:
"a" > "b"

False

In [25]:
ord("a")  #for ASCII Values

97

In [26]:
ord("b")

98

In [28]:
if("abc" < "bca"):
    print("hello")
    print("hi!!!")
else:
    print("bye!!")

hello
hi!!!

In [31]:
a=int(raw_input("enter a value:"))
b=int(raw_input("enter b value: "))
c=a+b
print(c)

enter a value:2
enter b value: 5
7

In [1]:
db="Bharat"
passwr=raw_input("Enter passwrd: ")

if(passwr == db):
    print("welcome")
else:
    print("intruder")

Enter passwrd: bharat
intruder

LOOP

In [7]:
list(range(2,20,2))

list(range(2,20))

tuple(range(20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [8]:
for i in list(range(3)):
    print("hello")

hello
hello
hello

In [9]:
for ghost in list(range(2,10,3)):
    print(ghost)

2
5
8

In [21]:
name=["hello","hi","30.25",2,20.5]

In [22]:
mame = list(range(101))
print mame

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [19]:
mame = list(range(10))
print(mame)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
"hello" in name

True

In [20]:
for i in mame:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
print(name)

['hello', 'hi', '30.25', 2, 20.5]

In [28]:
"hello"in name

True

In [31]:
db=["naga","santhosh","sunny","lion"] 
for x in list(range(5)):
    passwrd=raw_input("enter ur passwrd: ")
    if(passwrd in db):
        print("welcome")
    else:
        print("intruder")

enter ur passwrd: hu
intruder
enter ur passwrd: hj
intruder
enter ur passwrd: i
intruder
enter ur passwrd: hi
intruder
enter ur passwrd: hihk
intruder